body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: #e5e5e5;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-left: 3vw;
  text-align: center;
}

a {
  text-decoration: none;
}

p {
  margin-left: 5vw;
  font-weight: 500;
  font-size: 126px;
  line-height: 24px;
}

.section .info p  {
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 7s linear infinite;
  -webkit-animation: my-animation 7s linear infinite;
  animation: my-animation 7s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

img {
  width: 100%;
}

.top {
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
  height: 50px;
}

.logo {
  color: #6070ff;
  font-weight: 800;
  font-size: 30px;
  text-decoration: none;
  margin-left: -3vw;
}



.humburger {
  cursor: pointer;
  z-index: 3;
}

.bar {
  display: block;
  background-color: lightskyblue;
  margin: 3px 0;
  height: 3px;
  width: 24px;
  z-index: 3;
}

.humburger.active .bar:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
  background-color: orange;
 z-index: 3;
}

.humburger.active .bar:nth-child(2) {
  opacity: 0;
  
}

.humburger.active .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
  background-color: lime;
  z-index: 3;
}

.nav-menue2 {
  display: none;
}

.nav-menue2 a {

font-size: 20px;
}

.nav-menue {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: 50px 24px;
  left: -100%;
  top: 0;
  backdrop-filter: blur(85px);
  z-index: 3;
  
}

.nav-menue a {
  
  font-weight: 600;
  font-size: 28px;
  margin: 10px 0;
  
}

.nav-menue.active {
  left: 0;
  opacity: 0.9;
  
}

.section {
  background-image: url("https://images.unsplash.com/photo-1642790106117-e829e14a795f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1530&q=50");
  background-size: 100% 100%;
  background-color: black;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 65em;
}

.title {
  width: 90%;
  margin: auto;
  padding-top: 0vh;
}

.info {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  
  
}

 .social_media_about {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  padding: 10px 4px;
  flex-wrap: wrap;
  margin-left: -4vw;
}  

.social_media_about a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.nav-menue a:hover {
  font-size: 30px;
  
}

.social_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin-top: 2vh;
  gap: 15px;
  flex-wrap: wrap;
}

.social_icons i {
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {transform: rotate(180deg);}
}

.social_icons li i {
  width: 74px;
  height: 24px;
  font-size: 30px;
}

#social_icons {
  padding-left: 8px;
}

.social_icons i:hover {
 
  color: lime;
 
  height: 20px;
  cursor: pointer;
}



.social_media h3 {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}





#title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

/* .modaltitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
} */

.project_info {
  display: flex;
  gap: 5px;
  align-items: center;

  /* margin-top: 10px; */
}

.ul {
  display: flex;
}



.button-container {
  border: 1px solid #6070ff;
  background: #fff;
  color: #396df2;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  border-radius: 8px;
  padding: 12px;
  width: 162px;
}

.button-container3 {
  border: 1px solid #6070ff;
  background: #fff;
  color: #396df2;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  border-radius: 8px;
  padding: 12px;
  width: 162px;
}

.button-container:hover {
  background: #661d79;
  box-shadow: 1px 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.button-container3:hover {
  background: #661d79;
  box-shadow: 1px 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background-color: #fff;
  position: absolute;
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  margin-bottom: 50px;
  gap: 24px;
  background-color: #fff;
  position: absolute;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 12px 24px 0 24px;
}



.contact-me {
  background-color: black;
  
  
  border-top-left-radius: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  padding: 114px 24px 8px 24px;
 
  
}

.contact-me h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  
}

.contact-me p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form input {
  background: #fff;
  border: 1px solid #cfd8dc;
  color: #172b4d;
  border-radius: 8px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  padding: 15px 38px 15px 16px;
}

form textarea {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  padding: 15px 38px 15px 16px;
}

form button {
  width: 140px;
  height: 48px;
  color: white;
  background: orange;
  border: none;
  letter-spacing: 0.03em;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  border-radius: 8px;
}



form button:hover {
  background: rgb(14, 216, 14);
  box-shadow: 1px 8px 26px rgba(64, 83, 252, 0.24);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-out;
}

.contact-hr {
  background: #0d151e;
  border-radius: 10px;
  width: 134px;
  height: 5px;
  margin-top: 350px
}



.rainbow-text {
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 30px;
  color: transparent;
  animation: rainbow-slide 8s linear infinite;
  background-size: 300% 100%;
  background-image: linear-gradient(
      90deg,
       #e5600b,
        #bfaf00,
        #37bb00,
        #25b5f5,
        #ca57fa,
        #fa3f2b,
        #f86408
      );
}

@keyframes rainbow-slide {
    0%{background-position:0 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0 50%;}
}


.button-image {
  width: 20px;
}

.toolss {
  display: none;
}

g{
  position: absolute;
  margin-top: -900px;
  height: 100px;
 
  background: linear-gradient(transparent, #fff);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  animation: animate 5s linear infinite;
}
g:nth-child(3n + 1){
  background: linear-gradient(transparent, #0ff);
}
g:nth-child(3n + 2){
  background: linear-gradient(transparent, #0f0);
}
g:nth-child(3n + 3){
  background: linear-gradient(transparent, #f00);
}
@keyframes animate{
  0%{
      transform: translateY(-200px);
  }
  100%{
      transform: translateY(calc(100vh + 100px));
  }
} 

@media (min-width: 768px) {
  body {
    padding: 24px;
  }

  .top {
    border-bottom-left-radius: 100px;
  }

   .nav-menue {
    display: none;
  }  

  .header {
    padding: 14px 80px;
    width: auto;
  }

  .humburger {
    display: none;
  }

  h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 5vh;
    color: #172b4d;
    margin-left: 5vw;
    text-align:center;
  }

  .nav-menue2 {
    display: flex;
    flex-direction: row;
    color: #396df2;
    gap: 65px;
  }

  .nav-menue2 a:hover {
    
    padding: 2px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
  }

  .section {
    
    background-image: url("https://images.unsplash.com/photo-1642790106117-e829e14a795f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1530&q=80");
    background-size: 100% 100%;
    background-color: black;
    background-repeat: no-repeat;
    width: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 60em;
   
  }

 

  .section:hover {
   
    border-bottom-left-radius: 100px;
    transition: all 0.5s ease-out;
  }

  .description p {
    height: 6rem;
    overflow: hidden;
    font-weight: 400;
    font-size: 65px;
    line-height: 24px;
    color: #344563;
  }

  .titl {
    margin:auto;
    place-content: center;
    margin-top: 40px;
    height: auto;
  }

  .rainbow-text {
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 30px;
    color: transparent;
    animation: rainbow-slide 8s linear infinite;
    background-size: 300% 100%;
    background-image: linear-gradient(
        90deg,
         #e5600b,
          #bfaf00,
          #37bb00,
          #25b5f5,
          #ca57fa,
          #fa3f2b,
          #f86408
        );
  }
  
  @keyframes rainbow-slide {
      0%{background-position:0 50%;}
      50%{background-position:100% 50%;}
      100%{background-position:0 50%;}
  }
  
  


  .section .info p  {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }

  /* .title h1 {
    animation-duration: 3s;
    animation-name: slidein1;
  }

  @keyframes slidein1 {
    from {
      margin-right: 100%;
      width: 100%;
    }

    to {
      margin-right: 0%;
      width: 300%;
    }
  } */

  .title {
    width: 90%;
    margin: auto;
    padding-top: 0vh;
    
  }

  .info {
   margin-top: -16vh;
  } 

 

  

  .description {
    width: 100%;
    margin-top: 10px;
  }

  .img-container {
    height: 350px;
    width: 300px;
  }

  .button-container {
    padding: 12px;
    width: 150px;
    height: 48px;
  }

  .button-container3 {
    background: #4053fc;
    box-shadow: 1px 8px 16px rgba(64, 83, 252, 0.24);
    color: #fff;
    padding: 12px;
    width: 124px;
    height: 48px;
  }

  .about {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-top-right-radius: 100px;
    width: 96%;
  }

  .container2 {
    display: flex;
    flex-direction: row;
    border-top-right-radius: 100px;
  }

  .container-about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 60%;
  }

  .social_icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 15px;
   margin-top: 7vh;
  }
  
  .social_icons i {
    animation: mymove 5s infinite;
  }
  
  @keyframes mymove {
    50% {transform: rotate(180deg);}
  }
  
  .social_icons li i {
    width: 74px;
    height: 24px;
    font-size: 30px;
  }

  .social_media_about {
    display: flex;
    flex-direction: column;
   margin-top: -8vh;
    flex-wrap: wrap;
    margin-left: 2vw;
  }
  
  #social_icons {
    padding-left: 8px;
  }
  
  .social_icons i:hover {
   
    color: lime;
   
    height: 20px;
    cursor: pointer;
  }

 

  .contact-me {
    padding: 74px;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    gap: 24px;
    z-index: 6;
   
    
  }

  form {
    align-items: center;
    gap: 27px;
    width: 447px;
    height: 395px;
  }

  form input {
    border-radius: 2px;
    width: 100%;
  }

  form textarea {
    border-radius: 2px;
    width: 100%;
  }

  .contact-hr {
    display: none;
  }

  /* ------------------------------ */
  g{
    position: absolute;
    margin-top: -70vw;
    height: 100px;
   margin-left: auto;
    background: linear-gradient(transparent, #fff);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    animation: animate 5s linear infinite;
}
g:nth-child(3n + 1){
    background: linear-gradient(transparent, #0ff);
}
g:nth-child(3n + 2){
    background: linear-gradient(transparent, #0f0);
}
g:nth-child(3n + 3){
    background: linear-gradient(transparent, #f00);
}
@keyframes animate{
    0%{
        transform: translateY(-200px);
    }
    100%{
        transform: translateY(calc(70vh + 50px));
    }
} 

}
  
  